* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: black;
}
.home {
	background-color: #fffaf1;
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid rgb(212, 209, 209);
	background: url('https://todoist.com/_next/static/images/header@2x_b52d8f7c7bf19d6c702569d1072ed6a2.webp');
	background-repeat: no-repeat;
	background-size: contain;
}
.header {
	width: 50%;
	text-align: center;
	align-self: center;
	margin-left: 25%;
	margin-right: 25%;
	position: relative;
	margin-top: 10%;
	font-size: 45px;
	font-weight: bolder;
	margin-bottom: 2.5%;
	color: rgb(19, 7, 95);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.getting-started {
	height: 800px;
}
.main {
	border-radius: 10px;
	width: 95%;
	text-align: center;
	position: relative;
	margin-right: 2.5%;
	margin-left: 2.5%;
	background-color: white;
}
.mental-space {
	margin-top: 30px;
	/* border: 1px solid rgb(212, 209, 209);
	border-radius: 10px; */
}
.mental-space-header {
	margin-top: 30px;
	font-size: 40px;
	font-weight: bold;
	/* background-color: #ffffaa; */
}
.mental-space-content {
	margin-left: 20%;
	margin-right: 20%;
	justify-content: center;
	font-size: 20px;
}
.task-manager {
	margin-top: 20px;
}
.task-manager-left {
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20px;
	/* width: 95%; */
}
.header-font {
	font-size: 36px;
	font-weight: bold;
}
.task-manager-right {
	background: url('https://todoist.com/_next/static/images/mission@2x_14c0f4a5fedd3c66ca5d91982d823c97.webp');
	background-size: contain;
	text-align: right;
	align-self: right;
	background-repeat: no-repeat;
	height: 400px;
	width: 400px;
	display: inline-flexbox;
	background-position-y: 60px;
}
.sync-devices {
	margin-top: 20px;
	margin-left: 10px;
}
.sync-devices-right {
	background: url('https://storage.googleapis.com/cw-p1w5jpim0sdhkccw8gr/media/blog-images/responsive-web-design-caktus.gif');
	height: 400px;
	width: 400px;
	background-size: contain;
	background-repeat: no-repeat;
}
.tm-content {
	margin-right: 50px;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 850px) {
	.header {
		font-size: 30px;
		font-weight: bold;
	}
	.home {
		background-position-y: 200px;
		background-color: white;
	}
	.getting-started {
		height: 500px;
	}
	.mental-space-header {
		font-size: 32px;
	}
	.mental-space-content {
		margin-left: 10%;
		margin-right: 10%;
	}
	.header-font {
		font-size: 32px;
		font-weight: bold;
	}
}
@media screen and (max-width: 960px) {
	.sync-devices-right {
		width: 100%;
		background-position-x: 40%;
	}
	.sync-devices {
		text-align: center;
		align-self: center;
		width: 100%;
	}
}
@media screen and (max-width: 890px) {
	.task-manager-right {
		height: 400px;
		width: 300px;
	}
}
@media screen and (max-width: 600px) {
	.task-manager-right {
		/* background-position-x: 100px; */
		margin-left: 20%;
	}
}
@media screen and (max-width: 450px) {
	.task-manager-right {
		margin-left: 10%;
	}
}
@media screen and (max-width: 360px) {
	.header {
		font-size: 30px;
		font-weight: bold;
	}
	.home {
		background-position-y: 250px;
		background-color: white;
	}
	.getting-started {
		height: 400px;
	}
	.mental-space-header {
		font-size: 28px;
	}
	.mental-space-content {
		margin-left: 5%;
		margin-right: 5%;
	}
	.header-font {
		font-size: 28px;
		font-weight: bold;
	}
	.task-manager-right {
		height: 400px;
		width: 300px;
	}
}
